body {
    font-size: 16px;
}
header,
footer {
    text-align: center;
    color: cornflowerblue;
    background-color: rgb(35, 35, 35);
}
header h1 {
    margin: 0;
    padding: 5px 0;
}
summary {
    font-size: 1.2em;
    margin: 5px 0;
}
#player {
    position: relative;
    background-color: rgb(35, 35, 35);
    width: 95vw;
    margin: auto;
}
#messages {
    position: absolute;
    color: white;
    background-color: black;
    font-size: 3em;
}
video {
    width: 100%;
    max-height: 85vh;
}
#playlistDiv {
    position: absolute;
    bottom: 30px;
    left: 175px;
}
#playlist {
    background-color: gray;
    color: white;
    border: 2px solid maroon;
    margin: 0;
    list-style-type: none;
    padding: 5px 10px;
    font-size: 1.2em;
}
#playlist li {
    cursor: pointer;
    padding: 5px;
}
#playlist li:hover{
    background-color: blue;
}
#controls {
    position: relative;
}
#controlsTopRow {
    color: white;
    margin: 10px;
}
#controlsCurrentTime {
    float: left;
}
#controlsProgressBar {
    margin: 0 10px;
    height: 1em;
    width: 80%;
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    float: left;
}
#controlsProgressBar:hover {
    border: 2px solid blue;
}
#controlsBufferedBar {
    position: relative;
    height: 1em;
}
#controlsPlayedBar {
    position: relative;
    top: -1em;
    background-color: darkslategrey;
    height: 1em;
    width: 0;
}
#controlsEndTime {
    float: left;
}
#controlsBottomRow {
    clear: both;
}
#controlsBottomRow > * {
    float: left;
    margin: 5px;
    border: 2px solid black;
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 5px;
}
#controlsBottomRow > *:hover {
    border: 2px solid blue;
}
#controlsPlayButton {
    background-image: url("../img/play.png");
    background-size: contain;
    margin-left: 10px;
    margin-right: 15px;
}
#controlsPrevVideo {
    background-image: url("../img/prev.png");
    background-size: contain;
}
#controlsStop {
    background-image: url("../img/stop.png");
    background-size: contain;
}
#controlsNextVideo {
    background-image: url("../img/next.png");
    background-size: contain;
    margin-right: 15px;
}
#controlsChapters {
    background-image: url("../img/chapters.png");
    background-size: contain;
}
#controlsPlaylist {
    background-image: url("../img/playlist.png");
    background-size: contain;
    margin-right: 15px;
}
#controlsLoop {
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
    cursor: default;
}
#controlsRandom {
    background-image: url("../img/random.png");
    background-size: contain;
    margin-right: 15px;
}
#controlsCaptions {
    background-image: url("../img/caption.png");
    background-size: contain;
}
#controlsFullScreen {
    background-image: url("../img/fullscreen.png");
    background-size: contain;
    margin-right: 15px;
}
#controlsMute {
    background-image: url("../img/nomute.png");
    background-size: contain;
}
#controlsVolume {
    width: 100px;
}
#controlsBottomRow .buttonDown {
    background-color: lightblue;
}
#controlsBottomRow .buttonActive {
    border: 2px solid blue;
    background-color: darkblue;
}
#chapterListDiv {
    position: absolute;
    bottom: 30px;
    left: 125px;
}
#captionListDiv {
    position: absolute;
    bottom: 30px;
    left: 250px;
}
#chapterlist,
#captionlist {
    background-color: gray;
    color: white;
    border: 2px solid maroon;
    margin: 0;
    list-style-type: none;
    padding: 5px 10px;
    font-size: 1.2em;
}
#chapterlist li,
#captionlist li {
    cursor: pointer;
    padding: 5px;
}
#chapterlist li:hover,
#captionlist li:hover {
    background-color: blue;
}
#chaptersOuterDiv {
    clear: both;
    border: 1px solid darkcyan;
    height: 0;
    overflow-y: hidden;
    overflow-x: scroll;
}
#chaptersInnerDiv {
    height: 175px;
    overflow-y: hidden;
    overflow-x: hidden;
}
#chaptersInnerDiv > div {
    text-align: center;
    color: white;
    float: left;
    margin: 0 5px;
    cursor: pointer;
}
#chaptersInnerDiv > div img {
    height: 100px;
}
#chaptersInnerDiv > div.chapterActive {
    border: 2px solid blue;
}
#captionsDiv {
    height: 0;
    overflow-y: scroll;
}
#captionsDiv > p {
    margin: 0 10px;
    padding: 2px 0;
    color: white;
    cursor: pointer;
}
#captionsDiv > p:hover {
    color: cadetblue;
}
#captionsDiv > p.captionActive {
    color: cornflowerblue;
}
footer p {
    clear: both;
    margin: 0;
    padding: 5px 0;
}